<!DOCTYPE html>
<html>
<md-content layout-padding>
    <form name="adminForm">
        <div layout-gt-xs="column" layout-xs="column">

            <md-input-container class="md-block" flex-gt-sm>
                <label>Nome</label>
                <input class="md-input-has-value" md-maxlength="30" required name="name" ng-model="newAut.name"/>

                <div ng-messages="adminForm.name.$error">
                    <div ng-message="required">Campo necessario.</div>
                    <div ng-message="md-maxlength">La lunghezza deve essere inferiore a 30 caratteri.</div>
                </div>
            </md-input-container>

            <div flex="5" hide-xs hide-sm>
                <!-- Spacer //-->
            </div>

            <md-input-container class="md-block" flex-gt-sm>
                <label>Cognome</label>
                <input class="md-input-has-value" md-maxlength="30" required name="surname"
                       ng-model="newAut.surname"/>

                <div ng-messages="adminForm.surname.$error">
                    <div ng-message="required">Campo necessario.</div>
                    <div ng-message="md-maxlength">La lunghezza deve essere inferiore a 30 caratteri.</div>
                </div>
            </md-input-container>


            <md-button ng-click="answer(newAut)">Inserisci</md-button>
            <md-button ng-click="cancel()">Annulla</md-button>
        </div>
    </form>
</md-content>
</html>