<!DOCTYPE html>
<html>
<md-toolbar class="fixed">
    <div layout="row" layout-xs="column">
        <div class="md-toolbar-tools" flex-gt-xs="50" layout-align-gt-xs="start center" layout-align-xs="center center">
            <ng-md-icon style="fill:white" icon="book" size="30"></ng-md-icon>
            <b>Bookify</b>
        </div>
        <div class="md-toolbar-tools" flex-gt-xs="50" layout-align-gt-xs="end center" layout-align-xs="center center">
            <md-button ng-click="toggleLeft('left')" class="md-raised md-primary" hide-gt-md>
                <b>{{ctrl.adminData.name}}</b>
            </md-button>
            <md-button class="md-raised md-primary" aria-label="menu"
                       ng-repeat="link in menu" ng-class="{active : activeMenu === link.label}"
                       ng-href="#{{link.link}}">
                <b>{{link.label}}</b>
            </md-button>
        </div>
    </div>
</md-toolbar>

<div class="wrapper">
    <div class="container" style="height:500px;">
        <div layout="column" style="height:500px">
            <section layout="row">

                <md-sidenav class="md-sidenav-left rightbordered" md-component-id="left" md-whiteframe="4"
                            md-is-locked-open="$mdMedia('gt-md')" layout-align-xs="start center">
                    <md-toolbar class="md-theme-indigo">
                        <h1 class="md-toolbar-tools">Pannello Utente</h1>
                    </md-toolbar>
                    <md-content>
                       <span><p class="label">
                            Name: </p><p>{{ctrl.adminData.name}}
                       </p></span>
                    </md-content>
                    <md-content layout-padding="0">
                        <span><p class="label">
                            Surname:</p><p> {{ctrl.adminData.surname}}
                        </p></span>
                    </md-content>
                    <md-content>
                      <span>  <p class="label">
                          Birthday:</p><p> {{ctrl.adminData.birthday | date:"dd/MM/yyyy"}}
                      </p></span>
                    </md-content>
                    <md-content>
                       <span> <p class="label">
                           Address:</p><p> {{ctrl.adminData.address}}
                       </p></span>
                    </md-content>
                    <md-content>
                       <span> <p class="label">
                           Phone:</p><p> {{ctrl.adminData.phone}}
                       </p></span>
                    </md-content>
                    <md-content>
                       <span> <p class="label">
                            City:</p><p> {{ctrl.adminData.city}}
                       </p></span>
                    </md-content>
                    <md-content>
                      <span>  <p class="label">
                            Email:</p><p> {{ctrl.adminData.email}}
                      </p></span>
                    </md-content>
                    <md-content layout-align="end center">
                        <md-button ng-click="editAdmin($event)">Modifica Dati</md-button>
                    </md-content>
                    <md-content>
                        <md-button layout-align="end center" ng-click="close('left')" hide-gt-md>
                            Chiudi
                        </md-button>
                    </md-content>
                </md-sidenav>

                <div flex-gt-xs="100">
                    <div flex-gt-xs="100" layout-align="center center">
                        <md-content class="md-padding transparent">
                            <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
                                <md-nav-item md-nav-click="select('view/bookManager.htm')" name="bookManager">
                                    Book Manager
                                </md-nav-item>
                                <md-nav-item md-nav-click="select('view/bookManager.htm')" name="loanManager">
                                    Loan Manager
                                </md-nav-item>
                                <md-nav-item md-nav-click="select('view/bookManager.htm')" name="userManager">
                                    User Manager
                                </md-nav-item>
                            </md-nav-bar>
                        </md-content>
                    </div>
                    <div flex-gt-xs="100" ng-include="content">
                    </div>
                </div>

            </section>

        </div>
    </div>
</div>


</html>