<!DOCTYPE html>
<html>
<div class="container maincontainer">
    <div class="cover-container">

        <div class="masthead clearfix">
            <div class="inner">
                <h3 class="masthead-brand">
                    <ng-md-icon style="fill:white" icon="book" size="30"></ng-md-icon>
                    <b>Bookify</b>
                </h3>
                <nav>
                    <ul class="nav masthead-nav">
                        <li ng-repeat="link in menu" ng-class="{active : activeMenu === link.label}"><a
                                href="#{{link.link}}" ng-click="setActive(link.label)"><b>{{link.label}}</b></a></li>
                    </ul>
                </nav>
            </div>
        </div>

        <div class="inner cover">
            <div class="container admin">

                <md-subheader class="md-no-sticky" style="margin-top:2%">Lista dei libri registrati
                    <input type="text" ng-model="keyword" placeholder="Cerca..."/></md-subheader>

                <table class="table table-hover table-condensed">
                    <tr>
                        <th>
                            Titolo
                        </th>
                        <th>
                            Editore
                        </th>
                        <th>
                            Codice
                        </th>
                        <th>Autore</th>
                    </tr>
                    <tr ng-repeat="book in bookCtrl.bookList | filter:{title:keyword}">
                        <td>
                            {{book.title}}
                        </td>
                        <td>
                            {{book.editor}}
                        </td>
                        <td>
                            {{book.code}}
                        </td>
                        <td ng-repeat="author in book.authors">{{book.author.name}} {{book.author.name}}</td>
                    </tr>
                </table>
            </div>

        </div>




<div class="mastfoot">
    <div class="inner">
        <p>
            Cover template for <a href="http://getbootstrap.com">Bootstrap</a>,
            by <a href="https://twitter.com/mdo">@mdo</a>.
        </p>
    </div>
</div>
</div>
</div>
</html>