<!DOCTYPE html>
<html>
<div class="container maincontainer">
    <div class="cover-container">

        <div class="masthead clearfix">
            <div class="inner">
                <h3 class="masthead-brand">
                    <ng-md-icon style="fill:white" icon="book" size="30"></ng-md-icon>
                    <b>Bookify</b>
                </h3>
                <nav>
                    <ul class="nav masthead-nav">
                        <li ng-repeat="link in menu" ng-class="{active : activeMenu === link.label}"><a
                                href="#{{link.link}}" ng-click="setActive(link.label)"><b>{{link.label}}</b></a></li>
                    </ul>
                </nav>
            </div>
        </div>

        <div class="inner cover">
            <div class="container admin">
                <div layout="row" layout-xs="column">
                    <md-list flex-gt-xs="100">
                        <md-subheader class="md-no-sticky">Lista dei libri registrati
                            <input type="text" ng-model="keyword" placeholder="Cerca..."/></md-subheader>
                        <md-list-item class="md-3-line  md-long-text" ng-repeat="book in bookCtrl.bookList | filter:{code:keyword,title:keyword,editor:keyword}">
                            <md-content class="container admin">
                                <div class="md-list-item-text layout-row" flex-gt-xs="100" layout="row" style="margin: auto;">
                                    <div flex-gt-xs="90">
                                        <h3>Codice:{{ book.code }}</h3>
                                        <span><h3>Titolo:{{ book.title }}</h3></span>
                                        <span><h3>Editore:{{ book.editor }}</h3></span>
                                        <span>Autori:</span>
                                        <span ng-repeat="author in book.authors">
                                            <h3>Nome:{{author.name}}</h3>
                                        <h3>Cognome:{{author.surname}}</h3>
                                        </span>
                                    </div>
                                    <div flex-gt-xs="15">
                                        <md-button>Modifica</md-button>
                                        <md-button>Rimuovi</md-button>
                                    </div>
                                </div>
                            </md-content>
                        </md-list-item>
                    </md-list>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="mastfoot">
    <div class="inner">
        <p>
            Cover template for <a href="http://getbootstrap.com">Bootstrap</a>,
            by <a href="https://twitter.com/mdo">@mdo</a>.
        </p>
    </div>
</div>

</div>
</div>
</html>