<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.3/angular-material.min.css" />
<link rel="stylesheet" href="button.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-animate.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-aria.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>
<meta charset="ISO-8859-1">

<script
	src="https://cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.7.1/angular-material-icons.min.js"></script>
<script src="button.js"></script>
</head>
<body >
		<div id="button" class="lock-size"  ng-app="button" ng-controller="buttonCtrl as b" ng-cloak>
		
			<md-fab-speed-dial layout="column" layout-align="left center" md-open="b.isOpen1" md-direction="right" class="md-scale">
				<md-fab-trigger>
					<md-button class="md-fab md-green" href="#" aria-label="menu">
						<ng-md-icon icon="book" class="menu-icon" size="36"></ng-md-icon>
					</md-button>
				</md-fab-trigger>
				<md-fab-actions>
					<md-button ng-repeat="icon in b.menu.icons1" class="md-fab md-raised md-mini" aria-label="{{icon.label}}">
						<ng-md-icon class="menu-icon" icon="{{icon.icon}}"></ng-md-icon>
					</md-button>
				</md-fab-actions>

			</md-fab-speed-dial>
						<md-fab-speed-dial layout="row" layout-align="left center" md-open="b.isOpen2" md-direction="right" class="md-scale">
				<md-fab-trigger>
					<md-button class="md-fab md-warn" href="#" aria-label="menu">
						<ng-md-icon icon="book" class="menu-icon" size="36"></ng-md-icon>
					</md-button>
				</md-fab-trigger>
				<md-fab-actions>
					<md-button ng-repeat="icon in b.menu.icons" class="md-fab md-raised md-mini" aria-label="{{icon.label}}">
						<ng-md-icon class="menu-icon" icon="{{icon.icon}}"></ng-md-icon>
					</md-button>
				</md-fab-actions>

			</md-fab-speed-dial>
		</div>
		<div>
			<md-menu>
				<md-button aria-label="AdminMenu" class="md-button-last transparent"
						   ng-click="$mdMenu.open()">
					Ciao, {{adminData.name}} &#x25BC;
				</md-button>
				<md-menu-content width="4" ng-mouseleave="$mdMenu.close()">
					<md-menu-item ng-repeat="item in [1, 2, 3]">
						<md-button>
							Option {{item}}
						</md-button>
					</md-menu-item>
				</md-menu-content>
			</md-menu>
		</div>



		<div class="md-menu-demo" ng-cloak>
			<div class="menu-demo-container" layout-align="center center" layout="column">
				<h2 class="md-title">Custom triggers</h2>
				<p>
					You can customize the events that open and close a menu by using the <code>$mdMenu.open</code> and
					<code>$mdMenu.close</code> methods. This is an example of triggering a menu on hover, instead of click.
				</p>

				<md-menu>
					<md-button aria-label="Open menu with custom trigger" class="md-icon-button" ng-mouseenter="$mdMenu.open()">
						<md-icon md-menu-origin md-svg-icon="call:textsms">xdfgfg</md-icon>
					</md-button>
					<md-menu-content width="4" ng-mouseleave="$mdMenu.close()">
						<md-menu-item ng-repeat="item in [1, 2, 3]">
							<md-button>
								Option {{item}}
							</md-button>
						</md-menu-item>
				</md-menu>
			</div>
		</div>


</body>
</html>