<html>
<form name="loginForm">
    <md-content class="loginform">
        <div layout="column">
            <div flex="75" layout-align="center center">
                <p>Inserisci le <b>credenziali</b> e premi<br><b>Login</b> per effettuare l'accesso.</p>
            </div>
            <div flex="50" layout-align="center center">
                <md-input-container >
                    <input name="id" type="text" class="form-control login" placeholder="Id"
                           ng-model="id" required md-autofocus/>
                </md-input-container>
            </div>
            <div flex="50" layout-align="center center">
                <md-input-container>
                    <input name="password" type="password" class="form-control login"
                           placeholder="Password" ng-model="password" required/>
                </md-input-container>
            </div>
        </div>

        <md-button
                ng-click="login()" class="md-raised md-primary last">Login
        </md-button>
    </md-content>
</form>
</html>