<!DOCTYPE html>
<html>
<div class="container maincontainer" >
    <div class="cover-container">

        <div class="masthead clearfix">
            <div class="inner">
                <h3 class="masthead-brand">
                    <ng-md-icon style="fill:white" icon="book" size="30"></ng-md-icon>
                    <b>Bookify</b>
                </h3>
                <nav>
                    <ul class="nav masthead-nav">
                        <li ng-repeat="link in menu" ng-class="{active : activeMenu === link.label}"><a
                                href="#{{link.link}}" ng-click="setActive(link.label)"><b>{{link.label}}</b></a></li>
                    </ul>
                </nav>
            </div>
        </div>

        <div class="inner cover">
            <div class="container login">
                <form name="loginForm">
                    <div class="form-group login">
                        <input name ="id" type="text" class="form-control login" placeholder="Id"
                               ng-model="id" required/>
                    </div>
                    <div class="form-group login">
                        <input name="password" type="password" class="form-control login"
                               placeholder="Password" ng-model="password" required/>
                    </div>
                    <md-content class="transparent">
                        <md-button
                                ng-click="login()" class="md-raised md-primary last">Login
                        </md-button>
                    </md-content>
                </form>
            </div>
        </div>



        <div class="mastfoot">
            <div class="inner">
                <p>
                    Cover template for <a href="http://getbootstrap.com">Bootstrap</a>,
                    by <a href="https://twitter.com/mdo">@mdo</a>.
                </p>
            </div>
        </div>

    </div>
</div>
</html>